<div class="row m-b-18px">
  <div class="col-md-12">
      <!-- button to create new person -->
      <a (click)="createPerson()" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-plus'></span> Create {{role}}
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

      <!-- HTML table for our list of persons records -->
      <table class='table table-hover table-responsive table-bordered'>

          <tr>
              <th>Name</th>
              <th>Phone number</th>
              <th>Address</th>
              <th>Email</th>
              <th>Actions</th>
          </tr>

          <!-- Use *ngFor directive to loop throught our list of persons. -->
          <tr *ngFor="let person of persons">
              <td>{{person.firstName}} {{person.lastName}}</td>
              <td>{{person.phoneNumber}}</td>
              <td>{{person.address}}</td>
              <td>{{person.email}}</td>
              <td>
                  <!-- read one person button -->
                  <a (click)="readOnePerson(person.idPerson)" class='btn btn-primary m-r-5px'>
                      <span class='glyphicon glyphicon-eye-open'></span> Read
                  </a>

                  <!-- edit person button -->
                  <a (click)="updatePerson(person.idPerson)" class='btn btn-info m-r-5px'>
                      <span class='glyphicon glyphicon-edit'></span> Edit
                  </a>

                  <!-- delete person button -->
                  <a (click)="deletePerson(person.idPerson)" class='btn btn-danger m-r-5px'>
                      <span class='glyphicon glyphicon-remove'></span> Delete
                  </a>
              </td>
          </tr>
          <tr></tr>
      </table>
  </div>
</div>
